@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Monda');
@import url('https://fonts.googleapis.com/css?family=Cinzel');

html
{
    height: 100%;
    margin: 0;
    padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

#TopChartJS
{
	font-family: 'Cinzel', sans-serif;
	font-size: 8em;
	text-align: center;
	
}

a {
  text-decoration: none;
}


.chrome {
	margin: 0 auto;
}

.chrome {
	background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
	background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
	-webkit-background-size: 200px;
	color: rgba(0,0,0,0.3);
	-webkit-animation-name: shine;
	-webkit-background-clip: text;
	-webkit-animation-duration: 8s;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes shine {
	0%, 10%{
		background-position: -1000px;
	}
	20% {
		background-position: -200px;
	}
	90% {
		background-position: 800px;
	}
	100% {
		background-position: 1000px;
	}
}


body div[id^='gridContainer']
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

body div[id^='boxContentContainer']
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

body svg[id^='chartContainer']
{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  background-color: #FFFFFF;
}

body div[id^='wholeChartContaner']
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   flex-basis: 100%;
   max-width: 100%;
   max-height: 100%;
   width: 100%;
   height: 100%;
}
 
svg
{
	font-family: 'Roboto', sans-serif;
} 
path {
  stroke: gray;
}

line {
  stroke: gray;
}

line#limit {
  stroke: #FED966;
  stroke-width: 3;
  stroke-dasharray: 3 6;
}

body p[id^='PieChart'] 
{
    background-color: black; 
    color: white; 
    border: 2px solid black;
	font-size: 1em;
	text-align: center;
	font-family: 'Monda', sans-serif;
	border-radius: 25px;
	position: relative;
    padding: 0px 10px;
	opacity: 0;
	transition: opacity, background 0.25s 0.25s ease;
	-webkit-transition: opacity 0.25s, background 0.25s ease;
	
}

body div[id^='pChartDataColumn']
{
    overflow-y: auto;
}

body select[id^='chart_select']
{	
    font-weight: bold;	
    background-color: white; 
    color: black; 
    border: 2px solid black;
	font-size: 1em;
	text-align: center;
	font-family: 'Monda', sans-serif;
	border-radius: 25px;
	position: relative;
	margin: 10px;
    padding: 0px 10px;
	opacity: 100;
	transition: opacity, background 0.25s 0.25s ease;
	-webkit-transition: opacity 0.25s, background 0.25s ease;
}

.mouseHoverChart {
    background-color: black; 
    color: white; 
    border: 2px solid black;
	font-size: 20px;
	font-family: 'Monda', sans-serif;
	border-radius: 25px;
	position: absolute;
    padding: 0px 10px;
	opacity: 0;
	transition: opacity, background 0.25s 0.25s ease;
	-webkit-transition: opacity 0.25s, background 0.25s ease;
	display: flex;
   justify-content: center;
   align-items: center;
}